# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs and OS files
.vscode/
.idea/
*.swp
.DS_Store